[submodule "client"]
	path = client
	url = https://github.com/jaypatel1113/react-native-mern_auth-app_frontend
[submodule "resetPasswordRectApp"]
	path = resetPasswordReactApp
	url = https://github.com/jaypatel1113/react-native-mern_auth-app_resetPassword
[submodule "server"]
	path = server
	url = https://github.com/jaypatel1113/react-native-mern_auth-app_backend
